@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@custom-variant dark (&:where(.dark, .dark *));
body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #18181b;
}
.dark body {
  background-color: #09090b;
  color: #fafafa;
}
